<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!--
        flutter_tts nécessite INTERNET pour certaines voix cloud.
        Pour les voix offline système, cette permission est optionnelle
        mais recommandée.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Garde l'écran allumé pendant la séance -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:label="Training Timer"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:requestLegacyExternalStorage="false">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Garde l'écran allumé pendant la séance -->
            <meta-data
                android:name="io.flutter.embedding.android.SplashScreenDrawable"
                android:resource="@drawable/launch_background"/>
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Flutter v2 embedding -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>

        <!-- flutter_tts -->
        <meta-data
            android:name="flutter_tts"
            android:value="true"/>
    </application>
</manifest>
